body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/* font-family: "PT Sans", sans-serif; */
}

.background {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f7f8fa;
}

.form {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 80%;
	/* height: 70%; */
	/* border: 2px solid black; */
	padding: 20px;
	display: flex;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	gap: 30px;

	/* box-shadow: 1px 1px; */
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
		0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
	border-radius: 5px;
}

.left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1.75;
	flex-basis: 0;
	/* flex-shrink: 0.7; */
}

.right {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	/* flex-shrink: 0.3; */
}

.right button {
	margin-top: auto;
}

.section p {
	margin: 0;
	margin-bottom: 3px;
	font-size: 15px;
}

.po-container span {
	display: inline-block;
	margin: 0;
	margin-bottom: 2px;
	font-size: 15px;
}

.section {
	margin-bottom: 10px;
	width: 100%;
}

.reg-input {
	height: 35px;
	border: 1px solid #272727;
	border-radius: 3px;
	outline: none;
	padding: 8px 8px;
	margin: 0px;
	font-size: 20px;
	font-family: "Inter";
	width: 100%;
	box-sizing: border-box;

	font-size: 18px;
}

.reg-input:focus {
	border: 1px solid rgb(97, 131, 161);
}

.bullets-section {
	height: 100%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.bullets-section textarea {
	padding: 10px 12px;
	margin: 0px;
	font-family: "Inter";
	flex: 1;
	line-height: 200%;
	padding-top: 5px;
	font-size: 19px;
	resize: none;
}

.download-btn {
	padding: 5px;
	margin: none;
	font-family: "PT Sans";
	width: 115px;
	height: 40px;
	font-size: 25px;
	background-color: #57ac4f;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
	margin-left: auto;

	font-size: 20px;
}

.inner-subtotal {
	display: flex;
}

.subtotal-input {
	width: 80%;
	/* flex-grow: 1; */
}

.tax-container {
	width: 50%;
	display: flex;
	margin-left: 20px;
	justify-content: flex-end;
	cursor: pointer;
	/* flex-grow: 1; */
}

.tax-container div {
	width: 80px;
	height: 100%;
	border: 2px solid black;
	border: none;
	text-align: center;
	/* background-color: rgb(224, 224, 224); */
	border-radius: 1px;
	border: 1px solid #1496bd;
	box-sizing: border-box;
}

.tax-container div span {
	line-height: 200%;
	font-family: "Verdana";
	font-size: 17px;
	user-select: none;
}

.tax-8625 {
	background-color: #1496bd;
	color: white;
}
.tax-8875 {
	color: #1496bd;
	background-color: white;
}

.apartment-section {
	display: flex;
	/* width: 100%; */
	gap: 10px;
}

.po-container {
	flex-grow: 1;
	/* flex-basis: 1; */
}

.apt-container {
	flex-grow: 10;
	/* flex-basis: 10; */
}

.optional-container {
	display: inline-block;
	margin-left: -3px;
}

.optional {
	margin-left: 50px;
	color: rgb(165, 165, 165);
}
